/***** NORMALIZE.CSS *****/
html{
	font-family:sans-serif;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none
}
body{
	margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block
}
audio,canvas,progress,video{
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]){
	display:none;
	height:0
}
[hidden],template{
	display:none
}
a{
	background-color:transparent
}
a:active,a:hover{
	outline:0 none
}
abbr[title]{
	border-bottom:1px dotted
}
b,strong{
	font-weight:700
}
dfn{
	font-style:italic
}
h1{
	font-size:2em;
	margin:.67em 0
}
mark{
	background:none repeat scroll 0 0 #ff0;
	color:#000
}
small{
	font-size:80%
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup{
	top:-.5em
}
sub{
	bottom:-.25em
}
img{
	border:0 none
}
svg:not(:root){
	overflow:hidden
}
figure{
	margin:1em 40px
}
hr{
	box-sizing:content-box;
	height:0
}
pre{
	overflow:auto
}
code,kbd,pre,samp{
	font-family:monospace,monospace;
	font-size:1em
}
button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0
}
button{
	overflow:visible
}
button,select{
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
	cursor:pointer
}
button[disabled],html input[disabled]{
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0 none;
	padding:0
}
input{
	line-height:normal;
	outline: none;
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0
}
input[type="search"]{
	box-sizing:content-box
}
fieldset{
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend{
	border:0 none;
	padding:0
}

textarea{
	overflow:auto
}
optgroup{
	font-weight:700
}
table{
	border-collapse:collapse;
	border-spacing:0
}
td,th{
	padding:0
}

/***** MAIN.CSS *****/
.clearfix:before,.clearfix:after{
	content:"";
	display:table
}
.clearfix:after{
	clear:both
}
ul{
	list-style:none;
	margin:0;
	padding:0
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
}
html, body {
	height: 100%;
}
body {
	font: 12px/1.2 Arial, sans-serif;
	background-color: #fff;
	color: #807f7f;
	min-width: 1090px;
}
img {
	vertical-align: middle;
}
.right {
	float: right;
}
.left {
	float: left;
}
.all-page {
	min-height: 100%;
	padding-bottom: 337px; 
	box-sizing: border-box;
}
.wrap {
	width: 1090px;
	margin: auto;
}

/*** header ****/
.header-top {
	background-color: #003663;
	height: 47px;
	color: #fff;
	border-bottom: 1px solid #6686a1;
}
.header-top a {
	color: #fff;
}
.header-top-menu, .header-logo, .phone-block {
	float: left;
}
.header-top-menu {
	margin: 14px 0 0 10px;
}
.header-top-menu a {
	display: block;
	border-bottom: 1px dashed #fff;
	margin-right: 15px;
	position: relative;
	padding-right: 2px;
}
.header-top-menu a:hover {
	border-bottom: none;
}
.header-top-menu a:after {
	content:'';
	background: url(../images/icons.png) no-repeat 0 0;
	width: 7px;
	height: 6px;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	right: -13px;
}
.social {
	float: right;
	margin-top: 6px;
	padding-left: 18px;
	border-left: 1px solid #022b4d;
}
.social a {
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
	background: url(../images/icons.png) no-repeat;
	width: 36px;
	height: 36px;
	margin: 0 4px;
}
.social a.social-1 {
	background-position: 0 -87px;
}
.social a.social-2 {
	background-position: 0 -179px;
}
.social a.social-1:hover {
	background-position: 0 -225px;
}
.social a.social-2:hover {
	background-position: 0 -133px;
}
.user-navigation {
	float: right;
	padding: 0 20px;
	border-right: 1px solid #014b89;
	position: relative;
}
.user-navigation:before {
	content:'';
	background: url(../images/icons.png) no-repeat 0 -62px;
	width: 14px;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 0;
}
.user-navigation a {
	line-height: 48px;
	padding: 0 2px;
}
.user-navigation a:hover, .header-links a:hover  {
	border-bottom: 1px dashed #fff;
}
.user-navigation a:first-child {
	margin: 0 5px 0 0;
}
.header-links {
	width: 250px;
}
.header-links .link-1, .header-links .link-2 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 20px;
	box-sizing: border-box;
	line-height: 47px;
}
.link-1:before, .link-2:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -7px;
}
.link-1:before {
	background: url(../images/icons.png) no-repeat 0 -16px;
	width: 14px;
	height: 12px;
}
.link-2:before {
	background: url(../images/icons.png) no-repeat 0 -38px;
	width: 13px;
	height: 14px;
}
.header-links, .basket-block {
	float: right;
}
.header-middle {
	padding: 19px 0;
}
.header-search {
	width: 385px;
	height: 31px;
	margin: 18px 0 0 235px;
	position: relative;
}
.header-search .search-f {
	width: 100%;
	height: 100%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-size: 14px;
	box-sizing: border-box;
	padding: 0 30px 0 17px;
}
/* .header-search .search-f:focus {
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
} */
.header-search .search-bnt {
	border: none;
	background: url(../images/icons.png) no-repeat 0 -271px;
	width: 16px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
	cursor: pointer;
}
.search-f::-webkit-input-placeholder {color: #999;}
.search-f::-moz-placeholder          {color: #999;}/* Firefox 19+ */
.search-f:-moz-placeholder           {color: #999;}/* Firefox 18- */
.search-f:-ms-input-placeholder      {color: #999;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
.header-phone-basket {
	float: right;
	width: 39%;
	color: #747474;
	margin-top: 5px;
}
.phone-block {
	padding: 0 0 0 43px;
	position: relative;
	font: 18px 'Myriad pro';
}
.phone-block:before, .basket-block:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/icons.png) no-repeat;
}
.phone-block:before {
	width: 33px;
	height: 45px;
	background-position: 0 -296px;
}
.phone-block span {
	display: block;
}
.phone-block span:first-child {
	margin-bottom: 3px;
}
.basket-block {
	position: relative;
	padding: 0 0 0 58px;
	margin-right: 10px;
	font-size: 13px;
	color: #747474;
}
.basket-block:before {
	background-position: 0 -351px;
	width: 38px;
	height: 44px;
}
.basket-title {
	display: block;
	margin-top: 3px;
}
.basket-amount {
	margin-top: 5px;
}
.basket-block:hover .basket-amount {
	border-bottom: 1px dashed #747474;
}
.basker-total {
	font: 16px 'Myriad Pro';
	color: #1569b2;
}
.header-bottom {
	background-color: #1569b2;
	height: 62px;
	border-top: 1px solid #1060a5;
	border-bottom: 1px solid #1060a5;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}
.header-nav ul {
	display: table;
	margin: auto;
}
.header-nav ul li {
	float: left;
}
.header-nav ul li a {
	display: block;
	text-align: center;
	color: #fff;
	padding: 5px 35px 2px 35px;
	font-size: 16px;
	border-right: 1px solid #2b78bc;
	border-left: 1px solid #1060a5;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.header-nav ul li a:hover {
	background-color: #2b77b5;
}
.header-nav ul li:last-child a {
	border-right: 1px solid transparent;
}
.header-nav ul li:first-child a {
	border-left: 1px solid transparent;
}
.header-nav ul li a img {
	display: block;
	margin: 0 auto 2px auto;
}

/*** slider ***/
.slider-wrap .bx-controls-direction {
	position: absolute;
	width: 1090px;
	left: 50%;
	top: 50%;
	margin-left: -545px;
}
.bx-wrapper {
	position: relative;
	padding: 0;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
	margin: auto;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 15px;
	width: 100%;
	z-index: 9999;
}
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #b5b5b5;
	padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #b5b5b5;
	text-indent: -9999px;
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 3px;
	outline: 0;
	border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #1469ac;
}
.slider-wrap .bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/icons.png) no-repeat 0 -405px;
}
.slider-wrap .bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/icons.png) no-repeat -0px -472px;
}
.slider-wrap .bx-wrapper .bx-prev:hover, .slider-wrap .bx-wrapper .bx-next:hover {
	box-shadow: inset 0 0 30px rgba(0,0,0,.3);
	border-radius: 50%;
}
.slider-wrap .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -35px;
	outline: 0;
	width:57px;
	height:57px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/*** content ***/
.content {
	padding: 35px 0 20px 0;
}
.breadcrumbs {
	margin-bottom: 10px;
}
.breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.breadcrumbs li.arrow {
	background: url(../images/icons3.png) no-repeat 1px -358px;
	width: 7px;
	height: 7px;
}
.breadcrumbs li, .breadcrumbs li a {
	color: #1569b2;
	font-size: 14px;
}
.breadcrumbs li a:hover {
	border-bottom: 1px dashed #1569b2;
}
.heading {
	font-size: 18px;
	text-transform: uppercase; 
	color: #747474;
	position: relative;
	padding: 0 0 0 25px;
	margin: 0 0 30px 0;
}
.heading:before {
	content:'';
	height: 6px;
	width: 100%;
	background-color: #1569b2;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 0;
	z-index: 4;
}
.heading span {
	background-color: #fff;
	position: relative;
	z-index: 5;
	padding: 0 5px;
}
.content-main {
	float: right;
	width: 73%;
}
.content-block {
	margin-bottom: 40px;
	color: #747474;
}
.content h1 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 18px 0;
}
.content h2 {
	font-size: 18px;
	margin: 0 0 20px 0;
}
.content h3 {
	font-size: 16px;
	margin: 0 0 20px 0;
}
.content p {
	margin: 0 0 15px 0;
	line-height: 1.5;
}
.content-product-inner {
	width: 190px;
	float: left; 
	margin:0 0 30px 10px;
	min-height: 270px;
	position: relative;
}
.content-product-inner:first-child {
	margin-left: 0;
}
.content-product-inner:nth-child(4n+1) {
	margin-left: 0;
}
.content-product-inner a {
	margin-left: 0;
}
.content-product-inner a img {
	border: 1px solid #ccc;
}
.content-product-inner a img:hover {
	opacity: 0.7;
}
.product-title {
	margin-top: 7px;
	display: block;
	padding: 0 9px;
	color: #747474;
}
.product-title:hover {
	color: #1569b2;
	text-decoration: underline;
}
.product-rating-price {
	position: absolute;
	bottom: 0;
}
.rating {
	margin-top: 5px;
	padding: 0 10px;
}
.product-rating {
  display: table;
  display: inline-block; 
  vertical-align: middle;
  margin-right: 5px;
}
.rating-value {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color:  #ccc;
  transition: color 0.2s;
  cursor: pointer;
  margin-left: -3px;
}
.product-rating:hover > .rating-value {
  color: #ecdb24;
}
.rating-value:hover ~ .rating-value {
  color: #ccc;
}
.rating .number {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
}
.configuration {
	margin-bottom: 18px;
}
.configuration .rating {
	margin: 0;
	padding: 0;
	line-height: 1.1;
}
.configuration .rating, .favorites, .comparison {
	display: inline-block; 
	vertical-align: top;
	width: 32%;
	box-sizing: border-box;
}
.favorites, .comparison {
	padding-left: 20px;
	position: relative;
}
.favorites:after, .comparison:after, .check:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	background: url(../images/icons3.png) no-repeat;
}
.favorites:after {
	background-position: 0 -42px;
	width: 14px;
	height: 12px;
	margin-top: -6px;
}
.comparison:after {
	background-position: 0 -64px;
	width: 13px;
	height: 14px;
	margin-top: -7px;
}
.favorites a, .comparison a {
	color: inherit;
}
.favorites a:hover, .comparison a:hover {
	border-bottom: 1px dashed #807f7f;
}
.product-price-wrap {
	width: 170px;
	padding: 0 10px;
}
.product-price {
	font-size: 14px;
	float: left;
	margin-top: 5px;
}
.discount-price {
	color: #e73939;
	text-decoration: line-through;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
}
.product-basket {
	float: right;
	width: 21px;
	height: 22px;
	background: url(../images/icons2.png) 0 -415px;
}
.product-basket:hover {
	background: url(../images/icons2.png) 0 -447px;
}
.content-news {
	margin-bottom: 40px;
}
.img-news-left {
	float: left; 
	margin-right: 15px;
}
.img-news-right {
	float: right; 
	margin-left: 15px;
}
.news-heading {
	font-size: 18px;
	color: #747474;
	line-height: 1;
	display: inline-block;
	margin: 0 0 14px 0;
	border-bottom: 1px dashed transparent;
}
.news-heading:hover {
	color: #1569b2;
	border-bottom: 1px dashed #1569b2;

}
.news-links {
	margin-top: 20px;
	clear: both;
}
.news-date, .news-views, .news-comments {
	position: relative;
	display: inline-block;
	padding-left: 22px;
	margin-right: 25px;
}
.news-date:before, .news-views:before, .news-comments:before  {
	content:'';
	position: absolute;
	background: url(../images/icons3.png) no-repeat;
	left: 0;
	top: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
}
.news-date:before {
	background-position: 0 -264px;
}
.news-views:before {
	background-position: 0 -290px;
	height: 10px;
	margin-top: -5px;
}
.news-comments:before {
	background-position: 0 -310px;
}
.news-comments a {
	color: #747474;
}
.news-comments a:hover {
	border-bottom: 1px dashed #747474;
}
.news-links-more a {
	color: #747474;
	border-bottom: 1px dashed #747474;
}
.news-links-more a:hover {
	border-bottom: none;
}

/*** form ***/
.form-basket {
	margin: 35px 0 0 0;
	font-size: 14px;
	color: #747474;
}
.form-table {
	display: table;
	margin-bottom: 25px;
}
.form-table a {
	color: #747474;
}
.form-table a:hover {
	color: #1569b2;
	border-bottom: 1px dashed #fff;
}
.form-basket .row {
	display: table-row;
}
.form-table .coll-row {
	display: table-cell;
	padding: 15px 10px;
	vertical-align: middle;
	border-top: 1px solid #e0e0e0;
	text-align: center;
}
.form-table .coll-row input {
	width: 48px;
	height: 35px;
	border: 1px solid #e0e0e0;
	text-align: center; 
	border-radius: 5px;
	background-color: #f7f7f7;
}
.form-table .coll-row:nth-child(even) {
	background-color: #f7f7f7;
}
.form-remove {
	background: url(../images/icons3.png) no-repeat 0 0;
	width: 15px;
	height: 16px;
	display: block;
	margin: auto;
}
.form-contacts {
	background-color: #f7f7f7;
	padding: 20px 30px 0 30px;
	margin-bottom: 20px;
}
.form-contacts-block {
	width: 50%;
	display: table;
}
.form-contacts-block .coll-row {
	display: table-cell;
	vertical-align: middle;
}
.form-contacts-block label {
	margin-bottom: 20px;
	display: block;
}
.form-contacts input, .form-delivery-select select  {
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 20px;
}
.form-contacts-block input {
	width: 271px;
}
.form-delivery input {
	width: 80%;
	margin-left: 1%;
}
.form-basket span.star {
	font-size: 22px;
	color: #e73939;
	vertical-align: super;
	margin-left: 5px;
}
.form-delivery-select select {
	width: 228px;
	outline: none;
}
.form-delivery-select select, .form-delivery-select > div {
	display: inline-block;
	vertical-align: middle;
}
.form-delivery-select > div {
	margin:0 2% 20px 0;
}
.form-delivery-select div:nth-of-type(2) {
	margin-left: 12px;
}
.form-delivery-select select option {
	padding: 10px 0;
}
.form-required {
	text-align: right; 
	font-size: 12px;
}
.form-btn {
	margin: 20px 0 35px 0;
}
.form-pay-delivery a {
	color: inherit;
	display: inline-block;
	border-bottom: 1px dashed #747474;
	line-height: 1.2;
}
.form-pay a:hover {
	border-bottom: none;
}
#spinner, .form-pay-submit {
	display: inline-block;
	vertical-align: top;
}
#spinner {
	width: 53px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	padding:0 10px;
	font-size: 18px;
}
.form-pay-submit {
	width: 120px;
	height: 35px;
	box-sizing: border-box;
	border-radius: 5px;
	color: #fff;
	border: none;
	background: #095ba7 url(../images/icons3.png) 10px -80px no-repeat;
	text-transform: uppercase;
	padding-left: 23px;
	margin-left: 8px;
}
.form-pay-btn {
	margin-top: 10px;
}
.filter-inner {
	padding-bottom: 10px;
	border-bottom: 2px dotted #b9b9b9;
	margin-top: 20px;
}
.filter-inner:last-child {
	border-bottom: none;
}
.filter-title {
	color: #104777;
	text-transform: uppercase;
	margin:0 0 15px 25px;
}
.filter-inner .checkbox-block{
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
	margin: 0 0 12px 0;
	line-height: 1;
}
.form-filter label, .form-filter input {
	display: inline-block;
	vertical-align: middle;
}
.form-filter label {
	color: #104777;
	margin-left: 5px;
	cursor: pointer;
}
.form-filter label:hover {
	text-decoration: underline;
}
.form-filter input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
.form-filter input[type="checkbox"] + label {
    background: url(../images/icons3.png) no-repeat 0 -242px;
    padding-left: 20px;
	height: 22px;
}
.form-filter input[type="checkbox"]:checked + label {
	font-weight: bold;
	background-position: 0 -220px;
}
#filterPrice1, #filterPrice2 {
	width: 120px;
	height: 45px;
	box-sizing: border-box;
	text-align: center; 
	border: 1px solid #d7d7d7;
	background-color: #f9f9f9;
	color: #104777;
	font-size: 14px;
	border-radius: 5px;
}
.filter-slider {
	clear: both;
	padding-top: 15px;
}
.filter-slider >span {
	color: #104777;
	font-size: 14px;
	margin-top: 15px;
}
.form-filter-btn {
	text-transform: uppercase; 
	color: #fff;
	background-color: #104777;
	border: none;
	clear: both;
	width: 100%;
	height: 45px;
	margin-top: 25px;
	border-radius: 5px;
}
.form-filter-btn:hover {
	text-decoration: underline;
}
.back-catalog, .checkout-btn {
	background-color: #1569b2;
	border: 1px solid #1569b2;
	box-sizing: border-box;
	text-transform: uppercase; 
	text-align: center;
	width: 167px;
	height: 35px;
	color: #fcfcfc;
	font-size: 12px;
	line-height: 35px;
	border-radius: 5px;	
}
.back-catalog:hover, .checkout-btn:hover, .form-pay-submit:hover {
	background-color: #2b77b5;
}
.product-info-wrap {
	margin: 40px 0 30px 0;
}
.product-slider {
	width: 400px;
}
.product-slider ul {
	text-align: center;
}
.product-slider ul li {
	display: inline-block;
	margin: 10px 5px;
}
.product-info {
	width: 373px;
	line-height: 1.5;
}
.product-info-inner {
	margin: 20px 0;
}
.check {
	display: inline-block;
	padding-left: 15px;
	position: relative;
	margin-left: 15px;
}
.check:after {
	background-position: 0 -336px;
	width: 11px;
	height: 13px;
	margin-top: -6px;
}
.form-pay-delivery {
	display: inline-block;
	margin-left: 15px;
}
.form-pay-price {
	font-size: 18px;
}
.form-pay-discount {
	font-size: 14px;
}
.form-pay-inner .discount-price {
	font-size: 16px;
}

/*** pagination ***/
.pagination {
	display: table;
	margin: auto;
	margin-top: 20px;
}
.pagination ul li {
	display: inline-block;
}
.pagination ul li a {
	display: inline-block;
	width: 24px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	background-color: #f5f5f5;
	-webkit-transition: all .5s;
	transition: all .5s;
	color: #747474;
}
.pagination ul li a:hover {
	background-color: #fdfdfd;
}
.pagination .pagination-active, .pagination .pagination-active:hover {
	background-color: #166fb7;
	border: 1px solid #166fb7;
	color: #fff;
}
.pagination-prev, .pagination-next, .pagination-point {
	font-size: 14px;
}
.pagination-point {
	margin: 0 5px;
	font-weight: bold;
}
/*** tabs ***/
.product-tabs {
	margin-bottom: 30px;
}
#tabs{
	width: 100%;
}
#tabs ul{
	list-style: none;
	display: table-row;
}
#tabs ul li{
	display: inline-block;
	background: #f1f3f5;
	height: 36px;
	text-align: center;
	margin-right: 5px;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	position: relative;
	margin-bottom: -1px;
}
#tabs ul li:first-child{
	background: #fff;
}
#tabs ul li a{
	display: inline-block;
	width: 127px;
	height: inherit;
	line-height: 36px;
	color: inherit;
	text-decoration: none;
	font-size: 14px;
}
#tabs ul li a:hover{
	color: #1569b2;
}
.tab-content{
	border-top: 1px solid #e5e5e5;
}
.tabs-text{
	display: none;
	padding: 10px;
}

/*** sidebar ***/
.sidebar-wrap {
	float: left; 
	width: 27%;
}
.sidebar {
	margin: 0 45px 0 0;
}
.sidebar-menu li {
	margin-top: 13px;
	padding-bottom: 17px;
	border-bottom: 1px solid #73a5d1
}
.sidebar-menu li:last-child {
	border-bottom: none;
}
.sidebar-menu li a {
	text-transform: uppercase;
	color: #1569b2;
	padding-left: 33px;
	display: block;
	position: relative;
}
.sidebar-menu  li a:hover {
	color: #747474;
}
.sidebar-menu li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	background: url(../images/icons2.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-top: -10px;
}
.sidebar-menu li a.sidebar-menu-item1:before {
	background-position: 0 0;
	height: 15px;
	margin-top: -7px;
}
.sidebar-menu li a.sidebar-menu-item1:hover:before {
	background-position: 0 -25px;
}
.sidebar-menu li a.sidebar-menu-item2:before {
	background-position: 0 -50px;
	height: 17px;
	margin-top: -8px;
}
.sidebar-menu li a.sidebar-menu-item2:hover:before {
	background-position: 0 -77px;
}
.sidebar-menu li a.sidebar-menu-item3:before {
	background-position: 0 -104px;
	height: 14px;
	margin-top: -7px;
}
.sidebar-menu li a.sidebar-menu-item3:hover:before {
	background-position: 0 -128px;
}
.sidebar-menu li a.sidebar-menu-item4:before {
	background-position: 0 -152px;
	height: 17px;
	margin-top: -8px;
}
.sidebar-menu li a.sidebar-menu-item4:hover:before {
	background-position: 0 -179px;
}
.sidebar-menu li a.sidebar-menu-item5:before {
	background-position: 0 -206px;
}
.sidebar-menu  li a.sidebar-menu-item5:hover:before {
	background-position: 0 -236px;
}
.sidebar-menu li a.sidebar-menu-item6:before {
	background-position: 0 -266px;
}
.sidebar-menu li a.sidebar-menu-item6:hover:before {
	background-position: 0 -296px;
}
.sidebar-menu li a.sidebar-menu-item7:before {
	background-position: 0 -326px;
}
.sidebar-menu li a.sidebar-menu-item7:hover:before {
	background-position: 0 -356px;
}
.action-timer {
	margin-bottom: 15px;
}
.action-inner {
	display: block;
	color: #747474;
	font-size: 14px;
	margin-bottom: 8px;
}
.action-inner span {
	display: block;
	margin: 0 0 6px 20px;
}
.action-inner span:hover {
	color: #1569b2;
}
.action-inner img {
	display: block;
	margin: auto;
}
.action-inner img:hover {
	opacity: 0.7;
}
.timer-info {
	text-align: center; 
	font-size: 18px;
	margin-bottom: 3px;
}
.timer{
	margin: auto;
	display: table;
	position: relative;
	padding: 0 0 0 30px;
}
.timer:before {
	content:'';
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 0;
	width: 18px;
	height: 19px;
	background: url(../images/icons2.png) 0 -386px;
	
}
.hour, .min, .sec , .point{
	float: left;
	font-size: 25px;
}
.hour1, .min1, .sec1 , .point1 {
	margin-left: -5px;
}
.point {
	margin-top: -2px;
}
.action-slogan {
	text-align: center;
	margin-top: 3px;
}
.btn-more {
	text-align: center; 
}
.btn-more a {
	font-size: 16px;
	color: #0980a8;
	border-bottom: 1px dashed #0980a8;
}
.btn-more a:hover {
	color: #747474;
	border-bottom: none;
}
.sidebar-banner {
	display: block;
	margin-bottom: 20px;
}
/*** footer ***/
.footer-main {
	color: #feffff;
	font-size: 14px;
	margin-top: -337px;
}
.footer-top {
	background-color: #1569b2;
}
.footer-nav, .footer-contacts {
	padding: 25px 0;
	font-size: 18px;
}
.footer-nav {
	float: left;
	width: 232px;
	margin-left: 10px;
}
.footer-nav ul, .footer-contacts ul{
	margin-top: 23px;
}
.footer-nav ul li{
	padding-left: 15px;
	margin-bottom: 5px;
	position: relative;
}
.footer-nav ul li:before {
	content:'';
	position: absolute;
	background: url(../images/icons.png) 0 -539px;
	width: 6px;
	height: 7px;
	top: 50%;
	margin-top: -3px;
	left: 0;
}
.footer-nav ul li a, .footer-contacts ul li, .footer-contacts ul li a {
	color: #feffff;
	font-size: 14px;
}
.footer-nav ul li a:hover, .footer-contacts ul li a:hover {
	border-bottom: 1px dashed #fff;
}
.footer-contacts {
	float: right;
	margin-right: 10px;
}
.footer-contacts ul li {
	position: relative;
	margin-bottom: 12px;
	padding-left: 38px;
}
.footer-contacts ul li:before {
	content:'';
	position: absolute;
	top: 0;
	left: 13px;
	background: url(../images/icons.png) no-repeat;
}
.footer-contacts ul li.footer-contacts1:before {
	background-position: 0 -556px;
	width: 11px;
	height: 16px;
}
.footer-contacts ul li.footer-contacts2:before {
	background-position: 0 -656px;
	width: 16px;
	height: 16px;
}
.footer-contacts ul li.footer-contacts3:before {
	background-position: 0 -582px;
	width: 16px;
	height: 12px;
}
.footer-contacts ul li.footer-contacts4:before {
	background-position: 0 -604px;
	width: 16px;
	height: 16px;
}
.footer-contacts ul li.footer-contacts5:before {
	background-position: 0 -630px;
	width: 12px;
	height: 16px;
	left: 15px;
}
.footer-bottom {
	height: 56px;
	background-color: #003663;
}
.footer-copy {
	line-height: 56px;
}
.footer-logo {
	margin: 0 15px 0 35px;
	display: inline-block;
}
.footer-bottom .social {
	border-left: none;
	margin-top: 10px;
}
.fixed {
	position: fixed;
	top: 0;
	z-index: 10000;
	width: 100%;
}
.widget {
	position: absolute;
	width: 73px;
	height: 25px;
	top: 15px;
	right: -2px;
	background: url(../images/icons3.png) no-repeat;
	color: #fff;
	line-height: 25px;
	text-align: center;
	font-family: 'Myriad Pro';
	text-transform: uppercase;
}
.widget.widget-action {
	background-position: 0 -405px;
}
.widget.widget-hit {
	background-position: 0 -440px;	
}
.widget.widget-new {
	background-position: 0 -475px;	
}