.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */
* html .cf {
	height: 1%;
}
/* IE7 */
*:first-child + html .cf {
	min-height: 1%;
}
.quick-order-pro .js {
	border-bottom: 1px dotted;
	display: inline;
	line-height: 1.3em;
	height: 1em;
	color: #0095dd;
	cursor: pointer;
	background: none;
	padding: 0;
	position: relative;
	text-decoration: none !important;
	letter-spacing: -0.299px;
	font-size: inherit;
	font-weight: normal;
}
.quick-order-pro .js:hover {
	border-color: transparent;
}
.quick-order-pro .hidden {
	display: none;
}
.quick-order-pro.sidebar {
	margin-bottom: 20px;
	padding: 10px 0 0 0;
	background: #f5f5f5;
	border: 1px solid #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.quick-order-pro.sidebar.eh {
	padding-top: 0;
}
.quick-order-pro.content {
	padding: 10px 0 0 0 !important;
	border: 0 !important;
	overflow: visible !important;
}
.quick-order-pro .header {
	padding: 0px 15px 10px
}
.quick-order-pro.content .header {
	padding: 0px 0px 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.quick-order-pro.sidebar .header h2 {
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	-webkit-text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	-moz-text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	-ms-text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin: 0 0 5px;
	padding: 0;
}
.quick-order-pro .header h2 {
	font-family: serif;
	font-weight: 300;
	font-size: 23px;
	line-height: 30px;
	color: #414848;
}
.quick-order-pro.content .header h2 {
	font-size: 22px;
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
}
.quick-order-pro .header .description {
	font: 0.88em Tahoma, sans-serif;
	color: #585858;
	font-size: 100%;
}
.quick-order-pro.sidebar .header .description {
	margin: 10px 0 10px;
	line-height: 1.5 !important;
}
.quick-order-pro.content .header .description {
	margin: 0 0 10px;
	line-height: 1.6;
}
.quick-order-pro.sidebar .fields {
	padding: 0 0 15px;
}
.quick-order-pro.content .fields .rows .form-group {
	overflow: hidden;
	margin-bottom: 20px;
}
.quick-order-pro.content .fields .rows .form-group label {
	padding-left: 0;
}
.quick-order-pro.content .fields .rows .form-group div.col-sm-2,
.quick-order-pro.content .fields .rows .form-group div.col-sm-3  {
	padding-left: 0;
}
.quick-order-pro.sidebar .fields .rows .form-group {
	margin: 0 15px 15px;
}
.quick-order-pro .fields .rows .form-group label {
	cursor: default;
	font-size: 1em;
}
.quick-order-pro .fields .rows .radio-wrapper,
.quick-order-pro .fields .rows .checkbox-wrapper {
	margin-top: -10px;
}
.quick-order-pro .fields .rows .row.button {
	margin: 0;
	padding: 15px 15px 0;
	overflow: hidden;
	border-top: 1px solid #CCC;
}
.quick-order-pro.content .fields .rows .row.button {
	padding: 20px 0;
	width: 100%;
}
.quick-order-pro .fields .rows .row.button button {
	float: right;
	padding: 0;
	font-weight: normal;
	display: inline-block;
	border-radius: .25em;
	background-color: #277ac1;
	background: #43a6e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #43a6e2 0%, #277ac1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43a6e2), color-stop(100%,#277ac1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #43a6e2 0%,#277ac1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #43a6e2 0%,#277ac1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #43a6e2 0%,#277ac1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #43a6e2 0%,#277ac1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a6e2', endColorstr='#277ac1',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
	text-align: center;
	font-size: 13px;
	line-height: 1.1;
	text-decoration: none;
	min-width: 50px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-moz-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-ms-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	font-family: 'Open Sans',sans-serif;
}
.quick-order-pro.content .fields .rows .row.button button {
	float: none;
	width: 128px;
}
.quick-order-pro .fields .rows .row.button button span {
	display: inline-block;
	color: #fff;
	cursor: pointer;
}
.quick-order-pro.sidebar .fields .rows .row.button button span {
	padding: 8px 10px;
	width: 74px;
}
.quick-order-pro.content .fields .rows .row.button button span {
	padding: 10px 10px;
	width: 83px;
}
.quick-order-pro .fields .rows .row.button button:hover {
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	-khtml-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
	color:#fff;
	text-decoration:none;
}
.quick-order-pro .fields .rows .row.button button:active {
	box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:	inset 0 2px 3px 1px rgba(0,0,0,0.1),inset 0 18px 14px 6px rgba(0,0,0,0.2),inset 0px 0px 1px 0px rgba(0,0,0,0.1);
	-ms-box-shadow: inset 0 2px 3px 1px rgba(0,0,0,0.1),inset 0 18px 14px 6px rgba(0,0,0,0.2),inset 0px 0px 1px 0px rgba(0,0,0,0.1);
	-khtml-box-shadow: inset 0 2px 3px 1px rgba(0,0,0,0.1),inset 0 18px 14px 6px rgba(0,0,0,0.2),inset 0px 0px 1px 0px rgba(0,0,0,0.1);
}
.quick-order-pro .fields .rows .row.button button.disabled {
	opacity: 0.5;
}
.quick-order-pro .fields .rows .row.button button.disabled span {
	cursor: default;
}
.quick-order-pro .fields .rows .row.button button.disabled:hover,
.quick-order-pro .fields .rows .row.button button.disabled:active {
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
}
.quick-order-pro.sidebar .product-info-block {
	margin: 0;
	padding: 15px 15px 10px;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,0.15);
}
.quick-order-pro.sidebar.eh .product-info-block {
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.quick-order-pro.content .product-info-block {
	margin: 0 0 10px 0;
	padding: 0px 0px 10px;
}
.quick-order-pro .product-info-block .name {
	margin-bottom: 4px;
	font-weight: bold;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	-webkit-text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	-moz-text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	-ms-text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
	font-size: 13px;
}
.quick-order-pro.content .product-info-block .name .quantity {
	font-weight: bold;
	border-radius: 19px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	background: #38a9ed;
	color: white;
	padding: 2px 7px 3px;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	position: relative;
	top: -2px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.quick-order-pro .product-info-block ul.options {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0;
}
.quick-order-pro.sidebar .product-info-block ul.options {
	margin: 0 0 15px;
}
.quick-order-pro.sidebar .product-info-block .options small {
	color: #666;
}
.quick-order-pro .fields .rows .row.button .error {
	font-style: italic;
	display: block;
}
.quick-order-pro.sidebar .fields .rows .row.button .error {
	margin-top: 10px;
	clear: both;
	font-size: 10px;
	text-align: right;
	margin-left: -10px;
	padding-bottom: 2px;
	float: right;
}
.quick-order-pro.content .fields .rows .row.button .error {
	font-size: 11px;
	margin: 10px 10px 0 0;
	text-align: left;
}
.quick-order-pro.sidebar .total {
	font-size: 15px;
	margin-bottom: 10px;
	text-align: right;
}
.quick-order-pro.content .total {
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 17px;
	position: relative;
	top: -7px;
}
.quick-order-pro .total .total-label {
	font-weight: normal;
	color: #414848;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.quick-order-pro .total b {
	color: #000;
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}
.quick-order-pro .fields .rows .row .error {
	font-size: 11px;
	clear: both;
	margin-top: 3px;
	color: #a94442;
}
.quick-order-pro.content .error-bubble {
	z-index: 10;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 5px 7px 5px;
	margin: -1px 0px 0 6px;
	position: absolute;
	top: 0px;
	left: 407px;
	*margin-left: 3px;
	*margin-top: -1px !important;
	background-color: #fff4f4;
	border: 1px solid #F8ACAC;
	white-space: nowrap;
}
html[xmlns*=""] .quick-order-pro.content .error-bubble {
	margin-top: 0px;
	left: 405px;
}
.quick-order-pro.sidebar .error-item {
	border-color: red !important;
	color: red !important;
}
.quick-order-pro.content .fields .rows .row .error {
	margin-left: 173px;
}
.quick-order-pro.content .captcha .error-bubble {
	margin-top: 4px !important;
}
.quick-order-pro.sidebar .captcha-wrapper {
	display: block;
	margin: 0 0 10px 0;
}
.quick-order-pro .captcha-wrapper {
	display: inline-block;
}
.quick-order-pro .captcha-wrapper img {
	height: 40px;
}
.quick-order-pro .captcha-wrapper img {
	display: block !important;
}
.quick-order-pro.sidebar .captcha-wrapper img {
	float: left;
}
.quick-order-pro .captcha-wrapper a {
	font-size: 10px !important;
}
.quick-order-pro.sidebar .captcha-wrapper a.captcha.icon {
	float: right;
	margin: 8px 3px 0 0;
	width: 25px;
	height: 25px;
	background: transparent url('../../image/quick_order_pro/reload.png') no-repeat 0 0;
}
label.control-label span:after {
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin-left: 4px;
}