//	----------------------------------------------------//
// Mixins & Includes                                  //
//----------------------------------------------------//

// PLACEHOLDER MIXIN
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}

// Clear select without default button
@mixin clearSelect {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;   
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}

.clearfixed{
	&:after {
		content:'';
		display:table;
		clear:both;
	}
}
.my-shadow {
	box-shadow:0 0 24px rgba(38,24,10,0.05);
}
.my-shadow-in {
	box-shadow:0 0 24px rgba(38,24,10,0.05) inset;
}
.divider {
	background-color:$white_color;
}