/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-select-name: 'arrow-select';
$arrow-select-x: 262px;
$arrow-select-y: 237px;
$arrow-select-offset-x: -262px;
$arrow-select-offset-y: -237px;
$arrow-select-width: 10px;
$arrow-select-height: 7px;
$arrow-select-total-width: 278px;
$arrow-select-total-height: 270px;
$arrow-select-image: '../img/sprite.png';
$arrow-select: (262px, 237px, -262px, -237px, 10px, 7px, 278px, 270px, '../img/sprite.png', 'arrow-select', );
$arrow-slider-left-active-name: 'arrow-slider-left-active';
$arrow-slider-left-active-x: 162px;
$arrow-slider-left-active-y: 103px;
$arrow-slider-left-active-offset-x: -162px;
$arrow-slider-left-active-offset-y: -103px;
$arrow-slider-left-active-width: 15px;
$arrow-slider-left-active-height: 31px;
$arrow-slider-left-active-total-width: 278px;
$arrow-slider-left-active-total-height: 270px;
$arrow-slider-left-active-image: '../img/sprite.png';
$arrow-slider-left-active: (162px, 103px, -162px, -103px, 15px, 31px, 278px, 270px, '../img/sprite.png', 'arrow-slider-left-active', );
$arrow-slider-left-name: 'arrow-slider-left';
$arrow-slider-left-x: 215px;
$arrow-slider-left-y: 0px;
$arrow-slider-left-offset-x: -215px;
$arrow-slider-left-offset-y: 0px;
$arrow-slider-left-width: 15px;
$arrow-slider-left-height: 31px;
$arrow-slider-left-total-width: 278px;
$arrow-slider-left-total-height: 270px;
$arrow-slider-left-image: '../img/sprite.png';
$arrow-slider-left: (215px, 0px, -215px, 0px, 15px, 31px, 278px, 270px, '../img/sprite.png', 'arrow-slider-left', );
$arrow-slider-top-active-name: 'arrow-slider-top-active';
$arrow-slider-top-active-x: 220px;
$arrow-slider-top-active-y: 234px;
$arrow-slider-top-active-offset-x: -220px;
$arrow-slider-top-active-offset-y: -234px;
$arrow-slider-top-active-width: 18px;
$arrow-slider-top-active-height: 9px;
$arrow-slider-top-active-total-width: 278px;
$arrow-slider-top-active-total-height: 270px;
$arrow-slider-top-active-image: '../img/sprite.png';
$arrow-slider-top-active: (220px, 234px, -220px, -234px, 18px, 9px, 278px, 270px, '../img/sprite.png', 'arrow-slider-top-active', );
$arrow-slider-top-name: 'arrow-slider-top';
$arrow-slider-top-x: 197px;
$arrow-slider-top-y: 234px;
$arrow-slider-top-offset-x: -197px;
$arrow-slider-top-offset-y: -234px;
$arrow-slider-top-width: 18px;
$arrow-slider-top-height: 9px;
$arrow-slider-top-total-width: 278px;
$arrow-slider-top-total-height: 270px;
$arrow-slider-top-image: '../img/sprite.png';
$arrow-slider-top: (197px, 234px, -197px, -234px, 18px, 9px, 278px, 270px, '../img/sprite.png', 'arrow-slider-top', );
$arrow-tabs-bottom-name: 'arrow-tabs-bottom';
$arrow-tabs-bottom-x: 0px;
$arrow-tabs-bottom-y: 259px;
$arrow-tabs-bottom-offset-x: 0px;
$arrow-tabs-bottom-offset-y: -259px;
$arrow-tabs-bottom-width: 19px;
$arrow-tabs-bottom-height: 11px;
$arrow-tabs-bottom-total-width: 278px;
$arrow-tabs-bottom-total-height: 270px;
$arrow-tabs-bottom-image: '../img/sprite.png';
$arrow-tabs-bottom: (0px, 259px, 0px, -259px, 19px, 11px, 278px, 270px, '../img/sprite.png', 'arrow-tabs-bottom', );
$icon-addcart-orange-name: 'icon-addcart-orange';
$icon-addcart-orange-x: 0px;
$icon-addcart-orange-y: 103px;
$icon-addcart-orange-offset-x: 0px;
$icon-addcart-orange-offset-y: -103px;
$icon-addcart-orange-width: 40px;
$icon-addcart-orange-height: 41px;
$icon-addcart-orange-total-width: 278px;
$icon-addcart-orange-total-height: 270px;
$icon-addcart-orange-image: '../img/sprite.png';
$icon-addcart-orange: (0px, 103px, 0px, -103px, 40px, 41px, 278px, 270px, '../img/sprite.png', 'icon-addcart-orange', );
$icon-addcart-white-name: 'icon-addcart-white';
$icon-addcart-white-x: 45px;
$icon-addcart-white-y: 103px;
$icon-addcart-white-offset-x: -45px;
$icon-addcart-white-offset-y: -103px;
$icon-addcart-white-width: 40px;
$icon-addcart-white-height: 41px;
$icon-addcart-white-total-width: 278px;
$icon-addcart-white-total-height: 270px;
$icon-addcart-white-image: '../img/sprite.png';
$icon-addcart-white: (45px, 103px, -45px, -103px, 40px, 41px, 278px, 270px, '../img/sprite.png', 'icon-addcart-white', );
$icon-beznal-gray-name: 'icon-beznal-gray';
$icon-beznal-gray-x: 70px;
$icon-beznal-gray-y: 149px;
$icon-beznal-gray-offset-x: -70px;
$icon-beznal-gray-offset-y: -149px;
$icon-beznal-gray-width: 23px;
$icon-beznal-gray-height: 22px;
$icon-beznal-gray-total-width: 278px;
$icon-beznal-gray-total-height: 270px;
$icon-beznal-gray-image: '../img/sprite.png';
$icon-beznal-gray: (70px, 149px, -70px, -149px, 23px, 22px, 278px, 270px, '../img/sprite.png', 'icon-beznal-gray', );
$icon-book-black-name: 'icon-book-black';
$icon-book-black-x: 235px;
$icon-book-black-y: 23px;
$icon-book-black-offset-x: -235px;
$icon-book-black-offset-y: -23px;
$icon-book-black-width: 22px;
$icon-book-black-height: 18px;
$icon-book-black-total-width: 278px;
$icon-book-black-total-height: 270px;
$icon-book-black-image: '../img/sprite.png';
$icon-book-black: (235px, 23px, -235px, -23px, 22px, 18px, 278px, 270px, '../img/sprite.png', 'icon-book-black', );
$icon-book-gray-name: 'icon-book-gray';
$icon-book-gray-x: 235px;
$icon-book-gray-y: 0px;
$icon-book-gray-offset-x: -235px;
$icon-book-gray-offset-y: 0px;
$icon-book-gray-width: 22px;
$icon-book-gray-height: 18px;
$icon-book-gray-total-width: 278px;
$icon-book-gray-total-height: 270px;
$icon-book-gray-image: '../img/sprite.png';
$icon-book-gray: (235px, 0px, -235px, 0px, 22px, 18px, 278px, 270px, '../img/sprite.png', 'icon-book-gray', );
$icon-car-gray-name: 'icon-car-gray';
$icon-car-gray-x: 148px;
$icon-car-gray-y: 234px;
$icon-car-gray-offset-x: -148px;
$icon-car-gray-offset-y: -234px;
$icon-car-gray-width: 18px;
$icon-car-gray-height: 12px;
$icon-car-gray-total-width: 278px;
$icon-car-gray-total-height: 270px;
$icon-car-gray-image: '../img/sprite.png';
$icon-car-gray: (148px, 234px, -148px, -234px, 18px, 12px, 278px, 270px, '../img/sprite.png', 'icon-car-gray', );
$icon-car-orange-small-name: 'icon-car-orange-small';
$icon-car-orange-small-x: 0px;
$icon-car-orange-small-y: 149px;
$icon-car-orange-small-offset-x: 0px;
$icon-car-orange-small-offset-y: -149px;
$icon-car-orange-small-width: 32px;
$icon-car-orange-small-height: 22px;
$icon-car-orange-small-total-width: 278px;
$icon-car-orange-small-total-height: 270px;
$icon-car-orange-small-image: '../img/sprite.png';
$icon-car-orange-small: (0px, 149px, 0px, -149px, 32px, 22px, 278px, 270px, '../img/sprite.png', 'icon-car-orange-small', );
$icon-car-orange-name: 'icon-car-orange';
$icon-car-orange-x: 65px;
$icon-car-orange-y: 0px;
$icon-car-orange-offset-x: -65px;
$icon-car-orange-offset-y: 0px;
$icon-car-orange-width: 64px;
$icon-car-orange-height: 44px;
$icon-car-orange-total-width: 278px;
$icon-car-orange-total-height: 270px;
$icon-car-orange-image: '../img/sprite.png';
$icon-car-orange: (65px, 0px, -65px, 0px, 64px, 44px, 278px, 270px, '../img/sprite.png', 'icon-car-orange', );
$icon-car2-orange-name: 'icon-car2-orange';
$icon-car2-orange-x: 0px;
$icon-car2-orange-y: 0px;
$icon-car2-orange-offset-x: 0px;
$icon-car2-orange-offset-y: 0px;
$icon-car2-orange-width: 60px;
$icon-car2-orange-height: 48px;
$icon-car2-orange-total-width: 278px;
$icon-car2-orange-total-height: 270px;
$icon-car2-orange-image: '../img/sprite.png';
$icon-car2-orange: (0px, 0px, 0px, 0px, 60px, 48px, 278px, 270px, '../img/sprite.png', 'icon-car2-orange', );
$icon-card-gray-name: 'icon-card-gray';
$icon-card-gray-x: 154px;
$icon-card-gray-y: 149px;
$icon-card-gray-offset-x: -154px;
$icon-card-gray-offset-y: -149px;
$icon-card-gray-width: 25px;
$icon-card-gray-height: 19px;
$icon-card-gray-total-width: 278px;
$icon-card-gray-total-height: 270px;
$icon-card-gray-image: '../img/sprite.png';
$icon-card-gray: (154px, 149px, -154px, -149px, 25px, 19px, 278px, 270px, '../img/sprite.png', 'icon-card-gray', );
$icon-cat1-name: 'icon-cat1';
$icon-cat1-x: 179px;
$icon-cat1-y: 205px;
$icon-cat1-offset-x: -179px;
$icon-cat1-offset-y: -205px;
$icon-cat1-width: 20px;
$icon-cat1-height: 20px;
$icon-cat1-total-width: 278px;
$icon-cat1-total-height: 270px;
$icon-cat1-image: '../img/sprite.png';
$icon-cat1: (179px, 205px, -179px, -205px, 20px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat1', );
$icon-cat10-name: 'icon-cat10';
$icon-cat10-x: 103px;
$icon-cat10-y: 205px;
$icon-cat10-offset-x: -103px;
$icon-cat10-offset-y: -205px;
$icon-cat10-width: 21px;
$icon-cat10-height: 20px;
$icon-cat10-total-width: 278px;
$icon-cat10-total-height: 270px;
$icon-cat10-image: '../img/sprite.png';
$icon-cat10: (103px, 205px, -103px, -205px, 21px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat10', );
$icon-cat11-name: 'icon-cat11';
$icon-cat11-x: 0px;
$icon-cat11-y: 205px;
$icon-cat11-offset-x: 0px;
$icon-cat11-offset-y: -205px;
$icon-cat11-width: 19px;
$icon-cat11-height: 24px;
$icon-cat11-total-width: 278px;
$icon-cat11-total-height: 270px;
$icon-cat11-image: '../img/sprite.png';
$icon-cat11: (0px, 205px, 0px, -205px, 19px, 24px, 278px, 270px, '../img/sprite.png', 'icon-cat11', );
$icon-cat12-name: 'icon-cat12';
$icon-cat12-x: 235px;
$icon-cat12-y: 46px;
$icon-cat12-offset-x: -235px;
$icon-cat12-offset-y: -46px;
$icon-cat12-width: 20px;
$icon-cat12-height: 19px;
$icon-cat12-total-width: 278px;
$icon-cat12-total-height: 270px;
$icon-cat12-image: '../img/sprite.png';
$icon-cat12: (235px, 46px, -235px, -46px, 20px, 19px, 278px, 270px, '../img/sprite.png', 'icon-cat12', );
$icon-cat13-name: 'icon-cat13';
$icon-cat13-x: 262px;
$icon-cat13-y: 0px;
$icon-cat13-offset-x: -262px;
$icon-cat13-offset-y: 0px;
$icon-cat13-width: 16px;
$icon-cat13-height: 20px;
$icon-cat13-total-width: 278px;
$icon-cat13-total-height: 270px;
$icon-cat13-image: '../img/sprite.png';
$icon-cat13: (262px, 0px, -262px, 0px, 16px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat13', );
$icon-cat14-name: 'icon-cat14';
$icon-cat14-x: 0px;
$icon-cat14-y: 234px;
$icon-cat14-offset-x: 0px;
$icon-cat14-offset-y: -234px;
$icon-cat14-width: 17px;
$icon-cat14-height: 20px;
$icon-cat14-total-width: 278px;
$icon-cat14-total-height: 270px;
$icon-cat14-image: '../img/sprite.png';
$icon-cat14: (0px, 234px, 0px, -234px, 17px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat14', );
$icon-cat15-name: 'icon-cat15';
$icon-cat15-x: 235px;
$icon-cat15-y: 138px;
$icon-cat15-offset-x: -235px;
$icon-cat15-offset-y: -138px;
$icon-cat15-width: 22px;
$icon-cat15-height: 17px;
$icon-cat15-total-width: 278px;
$icon-cat15-total-height: 270px;
$icon-cat15-image: '../img/sprite.png';
$icon-cat15: (235px, 138px, -235px, -138px, 22px, 17px, 278px, 270px, '../img/sprite.png', 'icon-cat15', );
$icon-cat16-name: 'icon-cat16';
$icon-cat16-x: 171px;
$icon-cat16-y: 234px;
$icon-cat16-offset-x: -171px;
$icon-cat16-offset-y: -234px;
$icon-cat16-width: 21px;
$icon-cat16-height: 10px;
$icon-cat16-total-width: 278px;
$icon-cat16-total-height: 270px;
$icon-cat16-image: '../img/sprite.png';
$icon-cat16: (171px, 234px, -171px, -234px, 21px, 10px, 278px, 270px, '../img/sprite.png', 'icon-cat16', );
$icon-cat2-name: 'icon-cat2';
$icon-cat2-x: 77px;
$icon-cat2-y: 205px;
$icon-cat2-offset-x: -77px;
$icon-cat2-offset-y: -205px;
$icon-cat2-width: 21px;
$icon-cat2-height: 20px;
$icon-cat2-total-width: 278px;
$icon-cat2-total-height: 270px;
$icon-cat2-image: '../img/sprite.png';
$icon-cat2: (77px, 205px, -77px, -205px, 21px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat2', );
$icon-cat3-name: 'icon-cat3';
$icon-cat3-x: 125px;
$icon-cat3-y: 149px;
$icon-cat3-offset-x: -125px;
$icon-cat3-offset-y: -149px;
$icon-cat3-width: 24px;
$icon-cat3-height: 20px;
$icon-cat3-total-width: 278px;
$icon-cat3-total-height: 270px;
$icon-cat3-image: '../img/sprite.png';
$icon-cat3: (125px, 149px, -125px, -149px, 24px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat3', );
$icon-cat4-name: 'icon-cat4';
$icon-cat4-x: 154px;
$icon-cat4-y: 205px;
$icon-cat4-offset-x: -154px;
$icon-cat4-offset-y: -205px;
$icon-cat4-width: 20px;
$icon-cat4-height: 20px;
$icon-cat4-total-width: 278px;
$icon-cat4-total-height: 270px;
$icon-cat4-image: '../img/sprite.png';
$icon-cat4: (154px, 205px, -154px, -205px, 20px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat4', );
$icon-cat5-name: 'icon-cat5';
$icon-cat5-x: 129px;
$icon-cat5-y: 205px;
$icon-cat5-offset-x: -129px;
$icon-cat5-offset-y: -205px;
$icon-cat5-width: 20px;
$icon-cat5-height: 20px;
$icon-cat5-total-width: 278px;
$icon-cat5-total-height: 270px;
$icon-cat5-image: '../img/sprite.png';
$icon-cat5: (129px, 205px, -129px, -205px, 20px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat5', );
$icon-cat6-name: 'icon-cat6';
$icon-cat6-x: 204px;
$icon-cat6-y: 205px;
$icon-cat6-offset-x: -204px;
$icon-cat6-offset-y: -205px;
$icon-cat6-width: 20px;
$icon-cat6-height: 20px;
$icon-cat6-total-width: 278px;
$icon-cat6-total-height: 270px;
$icon-cat6-image: '../img/sprite.png';
$icon-cat6: (204px, 205px, -204px, -205px, 20px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat6', );
$icon-cat7-name: 'icon-cat7';
$icon-cat7-x: 98px;
$icon-cat7-y: 234px;
$icon-cat7-offset-x: -98px;
$icon-cat7-offset-y: -234px;
$icon-cat7-width: 22px;
$icon-cat7-height: 15px;
$icon-cat7-total-width: 278px;
$icon-cat7-total-height: 270px;
$icon-cat7-image: '../img/sprite.png';
$icon-cat7: (98px, 234px, -98px, -234px, 22px, 15px, 278px, 270px, '../img/sprite.png', 'icon-cat7', );
$icon-cat8-name: 'icon-cat8';
$icon-cat8-x: 262px;
$icon-cat8-y: 106px;
$icon-cat8-offset-x: -262px;
$icon-cat8-offset-y: -106px;
$icon-cat8-width: 10px;
$icon-cat8-height: 20px;
$icon-cat8-total-width: 278px;
$icon-cat8-total-height: 270px;
$icon-cat8-image: '../img/sprite.png';
$icon-cat8: (262px, 106px, -262px, -106px, 10px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat8', );
$icon-cat9-name: 'icon-cat9';
$icon-cat9-x: 50px;
$icon-cat9-y: 205px;
$icon-cat9-offset-x: -50px;
$icon-cat9-offset-y: -205px;
$icon-cat9-width: 22px;
$icon-cat9-height: 20px;
$icon-cat9-total-width: 278px;
$icon-cat9-total-height: 270px;
$icon-cat9-image: '../img/sprite.png';
$icon-cat9: (50px, 205px, -50px, -205px, 22px, 20px, 278px, 270px, '../img/sprite.png', 'icon-cat9', );
$icon-change-orange-name: 'icon-change-orange';
$icon-change-orange-x: 235px;
$icon-change-orange-y: 184px;
$icon-change-orange-offset-x: -235px;
$icon-change-orange-offset-y: -184px;
$icon-change-orange-width: 19px;
$icon-change-orange-height: 19px;
$icon-change-orange-total-width: 278px;
$icon-change-orange-total-height: 270px;
$icon-change-orange-image: '../img/sprite.png';
$icon-change-orange: (235px, 184px, -235px, -184px, 19px, 19px, 278px, 270px, '../img/sprite.png', 'icon-change-orange', );
$icon-check-green-large-name: 'icon-check-green-large';
$icon-check-green-large-x: 100px;
$icon-check-green-large-y: 84px;
$icon-check-green-large-offset-x: -100px;
$icon-check-green-large-offset-y: -84px;
$icon-check-green-large-width: 18px;
$icon-check-green-large-height: 14px;
$icon-check-green-large-total-width: 278px;
$icon-check-green-large-total-height: 270px;
$icon-check-green-large-image: '../img/sprite.png';
$icon-check-green-large: (100px, 84px, -100px, -84px, 18px, 14px, 278px, 270px, '../img/sprite.png', 'icon-check-green-large', );
$icon-check-green-name: 'icon-check-green';
$icon-check-green-x: 262px;
$icon-check-green-y: 222px;
$icon-check-green-offset-x: -262px;
$icon-check-green-offset-y: -222px;
$icon-check-green-width: 14px;
$icon-check-green-height: 10px;
$icon-check-green-total-width: 278px;
$icon-check-green-total-height: 270px;
$icon-check-green-image: '../img/sprite.png';
$icon-check-green: (262px, 222px, -262px, -222px, 14px, 10px, 278px, 270px, '../img/sprite.png', 'icon-check-green', );
$icon-close-black-name: 'icon-close-black';
$icon-close-black-x: 262px;
$icon-close-black-y: 150px;
$icon-close-black-offset-x: -262px;
$icon-close-black-offset-y: -150px;
$icon-close-black-width: 14px;
$icon-close-black-height: 14px;
$icon-close-black-total-width: 278px;
$icon-close-black-total-height: 270px;
$icon-close-black-image: '../img/sprite.png';
$icon-close-black: (262px, 150px, -262px, -150px, 14px, 14px, 278px, 270px, '../img/sprite.png', 'icon-close-black', );
$icon-close-red-name: 'icon-close-red';
$icon-close-red-x: 262px;
$icon-close-red-y: 169px;
$icon-close-red-offset-x: -262px;
$icon-close-red-offset-y: -169px;
$icon-close-red-width: 12px;
$icon-close-red-height: 12px;
$icon-close-red-total-width: 278px;
$icon-close-red-total-height: 270px;
$icon-close-red-image: '../img/sprite.png';
$icon-close-red: (262px, 169px, -262px, -169px, 12px, 12px, 278px, 270px, '../img/sprite.png', 'icon-close-red', );
$icon-contact-gray-name: 'icon-contact-gray';
$icon-contact-gray-x: 262px;
$icon-contact-gray-y: 131px;
$icon-contact-gray-offset-x: -262px;
$icon-contact-gray-offset-y: -131px;
$icon-contact-gray-width: 14px;
$icon-contact-gray-height: 14px;
$icon-contact-gray-total-width: 278px;
$icon-contact-gray-total-height: 270px;
$icon-contact-gray-image: '../img/sprite.png';
$icon-contact-gray: (262px, 131px, -262px, -131px, 14px, 14px, 278px, 270px, '../img/sprite.png', 'icon-contact-gray', );
$icon-doc-orange-name: 'icon-doc-orange';
$icon-doc-orange-x: 134px;
$icon-doc-orange-y: 50px;
$icon-doc-orange-offset-x: -134px;
$icon-doc-orange-offset-y: -50px;
$icon-doc-orange-width: 40px;
$icon-doc-orange-height: 48px;
$icon-doc-orange-total-width: 278px;
$icon-doc-orange-total-height: 270px;
$icon-doc-orange-image: '../img/sprite.png';
$icon-doc-orange: (134px, 50px, -134px, -50px, 40px, 48px, 278px, 270px, '../img/sprite.png', 'icon-doc-orange', );
$icon-heart-black-name: 'icon-heart-black';
$icon-heart-black-x: 262px;
$icon-heart-black-y: 68px;
$icon-heart-black-offset-x: -262px;
$icon-heart-black-offset-y: -68px;
$icon-heart-black-width: 16px;
$icon-heart-black-height: 14px;
$icon-heart-black-total-width: 278px;
$icon-heart-black-total-height: 270px;
$icon-heart-black-image: '../img/sprite.png';
$icon-heart-black: (262px, 68px, -262px, -68px, 16px, 14px, 278px, 270px, '../img/sprite.png', 'icon-heart-black', );
$icon-heart-orange-name: 'icon-heart-orange';
$icon-heart-orange-x: 262px;
$icon-heart-orange-y: 49px;
$icon-heart-orange-offset-x: -262px;
$icon-heart-orange-offset-y: -49px;
$icon-heart-orange-width: 16px;
$icon-heart-orange-height: 14px;
$icon-heart-orange-total-width: 278px;
$icon-heart-orange-total-height: 270px;
$icon-heart-orange-image: '../img/sprite.png';
$icon-heart-orange: (262px, 49px, -262px, -49px, 16px, 14px, 278px, 270px, '../img/sprite.png', 'icon-heart-orange', );
$icon-home-black-name: 'icon-home-black';
$icon-home-black-x: 47px;
$icon-home-black-y: 234px;
$icon-home-black-offset-x: -47px;
$icon-home-black-offset-y: -234px;
$icon-home-black-width: 20px;
$icon-home-black-height: 17px;
$icon-home-black-total-width: 278px;
$icon-home-black-total-height: 270px;
$icon-home-black-image: '../img/sprite.png';
$icon-home-black: (47px, 234px, -47px, -234px, 20px, 17px, 278px, 270px, '../img/sprite.png', 'icon-home-black', );
$icon-home-gray-name: 'icon-home-gray';
$icon-home-gray-x: 22px;
$icon-home-gray-y: 234px;
$icon-home-gray-offset-x: -22px;
$icon-home-gray-offset-y: -234px;
$icon-home-gray-width: 20px;
$icon-home-gray-height: 17px;
$icon-home-gray-total-width: 278px;
$icon-home-gray-total-height: 270px;
$icon-home-gray-image: '../img/sprite.png';
$icon-home-gray: (22px, 234px, -22px, -234px, 20px, 17px, 278px, 270px, '../img/sprite.png', 'icon-home-gray', );
$icon-medal-orange-name: 'icon-medal-orange';
$icon-medal-orange-x: 262px;
$icon-medal-orange-y: 25px;
$icon-medal-orange-offset-x: -262px;
$icon-medal-orange-offset-y: -25px;
$icon-medal-orange-width: 13px;
$icon-medal-orange-height: 19px;
$icon-medal-orange-total-width: 278px;
$icon-medal-orange-total-height: 270px;
$icon-medal-orange-image: '../img/sprite.png';
$icon-medal-orange: (262px, 25px, -262px, -25px, 13px, 19px, 278px, 270px, '../img/sprite.png', 'icon-medal-orange', );
$icon-nal-gray-name: 'icon-nal-gray';
$icon-nal-gray-x: 98px;
$icon-nal-gray-y: 149px;
$icon-nal-gray-offset-x: -98px;
$icon-nal-gray-offset-y: -149px;
$icon-nal-gray-width: 22px;
$icon-nal-gray-height: 22px;
$icon-nal-gray-total-width: 278px;
$icon-nal-gray-total-height: 270px;
$icon-nal-gray-image: '../img/sprite.png';
$icon-nal-gray: (98px, 149px, -98px, -149px, 22px, 22px, 278px, 270px, '../img/sprite.png', 'icon-nal-gray', );
$icon-news-gray-name: 'icon-news-gray';
$icon-news-gray-x: 125px;
$icon-news-gray-y: 234px;
$icon-news-gray-offset-x: -125px;
$icon-news-gray-offset-y: -234px;
$icon-news-gray-width: 18px;
$icon-news-gray-height: 13px;
$icon-news-gray-total-width: 278px;
$icon-news-gray-total-height: 270px;
$icon-news-gray-image: '../img/sprite.png';
$icon-news-gray: (125px, 234px, -125px, -234px, 18px, 13px, 278px, 270px, '../img/sprite.png', 'icon-news-gray', );
$icon-pay-black-medium-name: 'icon-pay-black-medium';
$icon-pay-black-medium-x: 235px;
$icon-pay-black-medium-y: 208px;
$icon-pay-black-medium-offset-x: -235px;
$icon-pay-black-medium-offset-y: -208px;
$icon-pay-black-medium-width: 19px;
$icon-pay-black-medium-height: 18px;
$icon-pay-black-medium-total-width: 278px;
$icon-pay-black-medium-total-height: 270px;
$icon-pay-black-medium-image: '../img/sprite.png';
$icon-pay-black-medium: (235px, 208px, -235px, -208px, 19px, 18px, 278px, 270px, '../img/sprite.png', 'icon-pay-black-medium', );
$icon-pay-gray-name: 'icon-pay-gray';
$icon-pay-gray-x: 262px;
$icon-pay-gray-y: 87px;
$icon-pay-gray-offset-x: -262px;
$icon-pay-gray-offset-y: -87px;
$icon-pay-gray-width: 15px;
$icon-pay-gray-height: 14px;
$icon-pay-gray-total-width: 278px;
$icon-pay-gray-total-height: 270px;
$icon-pay-gray-image: '../img/sprite.png';
$icon-pay-gray: (262px, 87px, -262px, -87px, 15px, 14px, 278px, 270px, '../img/sprite.png', 'icon-pay-gray', );
$icon-pay-orange-small-name: 'icon-pay-orange-small';
$icon-pay-orange-small-x: 72px;
$icon-pay-orange-small-y: 234px;
$icon-pay-orange-small-offset-x: -72px;
$icon-pay-orange-small-offset-y: -234px;
$icon-pay-orange-small-width: 21px;
$icon-pay-orange-small-height: 16px;
$icon-pay-orange-small-total-width: 278px;
$icon-pay-orange-small-total-height: 270px;
$icon-pay-orange-small-image: '../img/sprite.png';
$icon-pay-orange-small: (72px, 234px, -72px, -234px, 21px, 16px, 278px, 270px, '../img/sprite.png', 'icon-pay-orange-small', );
$icon-pay-orange-name: 'icon-pay-orange';
$icon-pay-orange-x: 37px;
$icon-pay-orange-y: 149px;
$icon-pay-orange-offset-x: -37px;
$icon-pay-orange-offset-y: -149px;
$icon-pay-orange-width: 28px;
$icon-pay-orange-height: 22px;
$icon-pay-orange-total-width: 278px;
$icon-pay-orange-total-height: 270px;
$icon-pay-orange-image: '../img/sprite.png';
$icon-pay-orange: (37px, 149px, -37px, -149px, 28px, 22px, 278px, 270px, '../img/sprite.png', 'icon-pay-orange', );
$icon-pay2-orange-name: 'icon-pay2-orange';
$icon-pay2-orange-x: 184px;
$icon-pay2-orange-y: 117px;
$icon-pay2-orange-offset-x: -184px;
$icon-pay2-orange-offset-y: -117px;
$icon-pay2-orange-width: 24px;
$icon-pay2-orange-height: 24px;
$icon-pay2-orange-total-width: 278px;
$icon-pay2-orange-total-height: 270px;
$icon-pay2-orange-image: '../img/sprite.png';
$icon-pay2-orange: (184px, 117px, -184px, -117px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'icon-pay2-orange', );
$icon-pay3-orange-name: 'icon-pay3-orange';
$icon-pay3-orange-x: 116px;
$icon-pay3-orange-y: 176px;
$icon-pay3-orange-offset-x: -116px;
$icon-pay3-orange-offset-y: -176px;
$icon-pay3-orange-width: 24px;
$icon-pay3-orange-height: 24px;
$icon-pay3-orange-total-width: 278px;
$icon-pay3-orange-total-height: 270px;
$icon-pay3-orange-image: '../img/sprite.png';
$icon-pay3-orange: (116px, 176px, -116px, -176px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'icon-pay3-orange', );
$icon-pay4-orange-name: 'icon-pay4-orange';
$icon-pay4-orange-x: 184px;
$icon-pay4-orange-y: 0px;
$icon-pay4-orange-offset-x: -184px;
$icon-pay4-orange-offset-y: 0px;
$icon-pay4-orange-width: 26px;
$icon-pay4-orange-height: 25px;
$icon-pay4-orange-total-width: 278px;
$icon-pay4-orange-total-height: 270px;
$icon-pay4-orange-image: '../img/sprite.png';
$icon-pay4-orange: (184px, 0px, -184px, 0px, 26px, 25px, 278px, 270px, '../img/sprite.png', 'icon-pay4-orange', );
$icon-percent-blue-name: 'icon-percent-blue';
$icon-percent-blue-x: 235px;
$icon-percent-blue-y: 70px;
$icon-percent-blue-offset-x: -235px;
$icon-percent-blue-offset-y: -70px;
$icon-percent-blue-width: 21px;
$icon-percent-blue-height: 18px;
$icon-percent-blue-total-width: 278px;
$icon-percent-blue-total-height: 270px;
$icon-percent-blue-image: '../img/sprite.png';
$icon-percent-blue: (235px, 70px, -235px, -70px, 21px, 18px, 278px, 270px, '../img/sprite.png', 'icon-percent-blue', );
$icon-percent-white-name: 'icon-percent-white';
$icon-percent-white-x: 235px;
$icon-percent-white-y: 93px;
$icon-percent-white-offset-x: -235px;
$icon-percent-white-offset-y: -93px;
$icon-percent-white-width: 21px;
$icon-percent-white-height: 18px;
$icon-percent-white-total-width: 278px;
$icon-percent-white-total-height: 270px;
$icon-percent-white-image: '../img/sprite.png';
$icon-percent-white: (235px, 93px, -235px, -93px, 21px, 18px, 278px, 270px, '../img/sprite.png', 'icon-percent-white', );
$icon-phone-green-name: 'icon-phone-green';
$icon-phone-green-x: 172px;
$icon-phone-green-y: 176px;
$icon-phone-green-offset-x: -172px;
$icon-phone-green-offset-y: -176px;
$icon-phone-green-width: 21px;
$icon-phone-green-height: 22px;
$icon-phone-green-total-width: 278px;
$icon-phone-green-total-height: 270px;
$icon-phone-green-image: '../img/sprite.png';
$icon-phone-green: (172px, 176px, -172px, -176px, 21px, 22px, 278px, 270px, '../img/sprite.png', 'icon-phone-green', );
$icon-phone-orange-name: 'icon-phone-orange';
$icon-phone-orange-x: 100px;
$icon-phone-orange-y: 53px;
$icon-phone-orange-offset-x: -100px;
$icon-phone-orange-offset-y: -53px;
$icon-phone-orange-width: 27px;
$icon-phone-orange-height: 26px;
$icon-phone-orange-total-width: 278px;
$icon-phone-orange-total-height: 270px;
$icon-phone-orange-image: '../img/sprite.png';
$icon-phone-orange: (100px, 53px, -100px, -53px, 27px, 26px, 278px, 270px, '../img/sprite.png', 'icon-phone-orange', );
$icon-phone-violet-name: 'icon-phone-violet';
$icon-phone-violet-x: 145px;
$icon-phone-violet-y: 176px;
$icon-phone-violet-offset-x: -145px;
$icon-phone-violet-offset-y: -176px;
$icon-phone-violet-width: 22px;
$icon-phone-violet-height: 24px;
$icon-phone-violet-total-width: 278px;
$icon-phone-violet-total-height: 270px;
$icon-phone-violet-image: '../img/sprite.png';
$icon-phone-violet: (145px, 176px, -145px, -176px, 22px, 24px, 278px, 270px, '../img/sprite.png', 'icon-phone-violet', );
$icon-products-gray-name: 'icon-products-gray';
$icon-products-gray-x: 235px;
$icon-products-gray-y: 116px;
$icon-products-gray-offset-x: -235px;
$icon-products-gray-offset-y: -116px;
$icon-products-gray-width: 22px;
$icon-products-gray-height: 17px;
$icon-products-gray-total-width: 278px;
$icon-products-gray-total-height: 270px;
$icon-products-gray-image: '../img/sprite.png';
$icon-products-gray: (235px, 116px, -235px, -116px, 22px, 17px, 278px, 270px, '../img/sprite.png', 'icon-products-gray', );
$icon-shield-orange-name: 'icon-shield-orange';
$icon-shield-orange-x: 235px;
$icon-shield-orange-y: 160px;
$icon-shield-orange-offset-x: -235px;
$icon-shield-orange-offset-y: -160px;
$icon-shield-orange-width: 19px;
$icon-shield-orange-height: 19px;
$icon-shield-orange-total-width: 278px;
$icon-shield-orange-total-height: 270px;
$icon-shield-orange-image: '../img/sprite.png';
$icon-shield-orange: (235px, 160px, -235px, -160px, 19px, 19px, 278px, 270px, '../img/sprite.png', 'icon-shield-orange', );
$icon-star-square-orange-name: 'icon-star-square-orange';
$icon-star-square-orange-x: 184px;
$icon-star-square-orange-y: 88px;
$icon-star-square-orange-offset-x: -184px;
$icon-star-square-orange-offset-y: -88px;
$icon-star-square-orange-width: 24px;
$icon-star-square-orange-height: 24px;
$icon-star-square-orange-total-width: 278px;
$icon-star-square-orange-total-height: 270px;
$icon-star-square-orange-image: '../img/sprite.png';
$icon-star-square-orange: (184px, 88px, -184px, -88px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'icon-star-square-orange', );
$icon-tile-darkgray-name: 'icon-tile-darkgray';
$icon-tile-darkgray-x: 262px;
$icon-tile-darkgray-y: 204px;
$icon-tile-darkgray-offset-x: -262px;
$icon-tile-darkgray-offset-y: -204px;
$icon-tile-darkgray-width: 11px;
$icon-tile-darkgray-height: 13px;
$icon-tile-darkgray-total-width: 278px;
$icon-tile-darkgray-total-height: 270px;
$icon-tile-darkgray-image: '../img/sprite.png';
$icon-tile-darkgray: (262px, 204px, -262px, -204px, 11px, 13px, 278px, 270px, '../img/sprite.png', 'icon-tile-darkgray', );
$icon-tile-gray-name: 'icon-tile-gray';
$icon-tile-gray-x: 262px;
$icon-tile-gray-y: 186px;
$icon-tile-gray-offset-x: -262px;
$icon-tile-gray-offset-y: -186px;
$icon-tile-gray-width: 11px;
$icon-tile-gray-height: 13px;
$icon-tile-gray-total-width: 278px;
$icon-tile-gray-total-height: 270px;
$icon-tile-gray-image: '../img/sprite.png';
$icon-tile-gray: (262px, 186px, -262px, -186px, 11px, 13px, 278px, 270px, '../img/sprite.png', 'icon-tile-gray', );
$icon-webm-gray-name: 'icon-webm-gray';
$icon-webm-gray-x: 24px;
$icon-webm-gray-y: 205px;
$icon-webm-gray-offset-x: -24px;
$icon-webm-gray-offset-y: -205px;
$icon-webm-gray-width: 21px;
$icon-webm-gray-height: 21px;
$icon-webm-gray-total-width: 278px;
$icon-webm-gray-total-height: 270px;
$icon-webm-gray-image: '../img/sprite.png';
$icon-webm-gray: (24px, 205px, -24px, -205px, 21px, 21px, 278px, 270px, '../img/sprite.png', 'icon-webm-gray', );
$icon-www-name: 'icon-www';
$icon-www-x: 29px;
$icon-www-y: 176px;
$icon-www-offset-x: -29px;
$icon-www-offset-y: -176px;
$icon-www-width: 24px;
$icon-www-height: 24px;
$icon-www-total-width: 278px;
$icon-www-total-height: 270px;
$icon-www-image: '../img/sprite.png';
$icon-www: (29px, 176px, -29px, -176px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'icon-www', );
$soc-fb-round-name: 'soc-fb-round';
$soc-fb-round-x: 134px;
$soc-fb-round-y: 0px;
$soc-fb-round-offset-x: -134px;
$soc-fb-round-offset-y: 0px;
$soc-fb-round-width: 45px;
$soc-fb-round-height: 45px;
$soc-fb-round-total-width: 278px;
$soc-fb-round-total-height: 270px;
$soc-fb-round-image: '../img/sprite.png';
$soc-fb-round: (134px, 0px, -134px, 0px, 45px, 45px, 278px, 270px, '../img/sprite.png', 'soc-fb-round', );
$soc-fb-square-name: 'soc-fb-square';
$soc-fb-square-x: 87px;
$soc-fb-square-y: 176px;
$soc-fb-square-offset-x: -87px;
$soc-fb-square-offset-y: -176px;
$soc-fb-square-width: 24px;
$soc-fb-square-height: 24px;
$soc-fb-square-total-width: 278px;
$soc-fb-square-total-height: 270px;
$soc-fb-square-image: '../img/sprite.png';
$soc-fb-square: (87px, 176px, -87px, -176px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'soc-fb-square', );
$soc-gplus-square-name: 'soc-gplus-square';
$soc-gplus-square-x: 58px;
$soc-gplus-square-y: 176px;
$soc-gplus-square-offset-x: -58px;
$soc-gplus-square-offset-y: -176px;
$soc-gplus-square-width: 24px;
$soc-gplus-square-height: 24px;
$soc-gplus-square-total-width: 278px;
$soc-gplus-square-total-height: 270px;
$soc-gplus-square-image: '../img/sprite.png';
$soc-gplus-square: (58px, 176px, -58px, -176px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'soc-gplus-square', );
$soc-mailru-square-name: 'soc-mailru-square';
$soc-mailru-square-x: 184px;
$soc-mailru-square-y: 59px;
$soc-mailru-square-offset-x: -184px;
$soc-mailru-square-offset-y: -59px;
$soc-mailru-square-width: 24px;
$soc-mailru-square-height: 24px;
$soc-mailru-square-total-width: 278px;
$soc-mailru-square-total-height: 270px;
$soc-mailru-square-image: '../img/sprite.png';
$soc-mailru-square: (184px, 59px, -184px, -59px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'soc-mailru-square', );
$soc-odn-round-name: 'soc-odn-round';
$soc-odn-round-x: 50px;
$soc-odn-round-y: 53px;
$soc-odn-round-offset-x: -50px;
$soc-odn-round-offset-y: -53px;
$soc-odn-round-width: 45px;
$soc-odn-round-height: 45px;
$soc-odn-round-total-width: 278px;
$soc-odn-round-total-height: 270px;
$soc-odn-round-image: '../img/sprite.png';
$soc-odn-round: (50px, 53px, -50px, -53px, 45px, 45px, 278px, 270px, '../img/sprite.png', 'soc-odn-round', );
$soc-odn-square-name: 'soc-odn-square';
$soc-odn-square-x: 184px;
$soc-odn-square-y: 30px;
$soc-odn-square-offset-x: -184px;
$soc-odn-square-offset-y: -30px;
$soc-odn-square-width: 24px;
$soc-odn-square-height: 24px;
$soc-odn-square-total-width: 278px;
$soc-odn-square-total-height: 270px;
$soc-odn-square-image: '../img/sprite.png';
$soc-odn-square: (184px, 30px, -184px, -30px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'soc-odn-square', );
$soc-odn-name: 'soc-odn';
$soc-odn-x: 126px;
$soc-odn-y: 103px;
$soc-odn-offset-x: -126px;
$soc-odn-offset-y: -103px;
$soc-odn-width: 31px;
$soc-odn-height: 31px;
$soc-odn-total-width: 278px;
$soc-odn-total-height: 270px;
$soc-odn-image: '../img/sprite.png';
$soc-odn: (126px, 103px, -126px, -103px, 31px, 31px, 278px, 270px, '../img/sprite.png', 'soc-odn', );
$soc-tw-square-name: 'soc-tw-square';
$soc-tw-square-x: 184px;
$soc-tw-square-y: 146px;
$soc-tw-square-offset-x: -184px;
$soc-tw-square-offset-y: -146px;
$soc-tw-square-width: 24px;
$soc-tw-square-height: 24px;
$soc-tw-square-total-width: 278px;
$soc-tw-square-total-height: 270px;
$soc-tw-square-image: '../img/sprite.png';
$soc-tw-square: (184px, 146px, -184px, -146px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'soc-tw-square', );
$soc-vk-round-name: 'soc-vk-round';
$soc-vk-round-x: 0px;
$soc-vk-round-y: 53px;
$soc-vk-round-offset-x: 0px;
$soc-vk-round-offset-y: -53px;
$soc-vk-round-width: 45px;
$soc-vk-round-height: 45px;
$soc-vk-round-total-width: 278px;
$soc-vk-round-total-height: 270px;
$soc-vk-round-image: '../img/sprite.png';
$soc-vk-round: (0px, 53px, 0px, -53px, 45px, 45px, 278px, 270px, '../img/sprite.png', 'soc-vk-round', );
$soc-vk-square-name: 'soc-vk-square';
$soc-vk-square-x: 0px;
$soc-vk-square-y: 176px;
$soc-vk-square-offset-x: 0px;
$soc-vk-square-offset-y: -176px;
$soc-vk-square-width: 24px;
$soc-vk-square-height: 24px;
$soc-vk-square-total-width: 278px;
$soc-vk-square-total-height: 270px;
$soc-vk-square-image: '../img/sprite.png';
$soc-vk-square: (0px, 176px, 0px, -176px, 24px, 24px, 278px, 270px, '../img/sprite.png', 'soc-vk-square', );
$soc-vk-name: 'soc-vk';
$soc-vk-x: 90px;
$soc-vk-y: 103px;
$soc-vk-offset-x: -90px;
$soc-vk-offset-y: -103px;
$soc-vk-width: 31px;
$soc-vk-height: 31px;
$soc-vk-total-width: 278px;
$soc-vk-total-height: 270px;
$soc-vk-image: '../img/sprite.png';
$soc-vk: (90px, 103px, -90px, -103px, 31px, 31px, 278px, 270px, '../img/sprite.png', 'soc-vk', );
$spritesheet-width: 278px;
$spritesheet-height: 270px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-select, $arrow-slider-left-active, $arrow-slider-left, $arrow-slider-top-active, $arrow-slider-top, $arrow-tabs-bottom, $icon-addcart-orange, $icon-addcart-white, $icon-beznal-gray, $icon-book-black, $icon-book-gray, $icon-car-gray, $icon-car-orange-small, $icon-car-orange, $icon-car2-orange, $icon-card-gray, $icon-cat1, $icon-cat10, $icon-cat11, $icon-cat12, $icon-cat13, $icon-cat14, $icon-cat15, $icon-cat16, $icon-cat2, $icon-cat3, $icon-cat4, $icon-cat5, $icon-cat6, $icon-cat7, $icon-cat8, $icon-cat9, $icon-change-orange, $icon-check-green-large, $icon-check-green, $icon-close-black, $icon-close-red, $icon-contact-gray, $icon-doc-orange, $icon-heart-black, $icon-heart-orange, $icon-home-black, $icon-home-gray, $icon-medal-orange, $icon-nal-gray, $icon-news-gray, $icon-pay-black-medium, $icon-pay-gray, $icon-pay-orange-small, $icon-pay-orange, $icon-pay2-orange, $icon-pay3-orange, $icon-pay4-orange, $icon-percent-blue, $icon-percent-white, $icon-phone-green, $icon-phone-orange, $icon-phone-violet, $icon-products-gray, $icon-shield-orange, $icon-star-square-orange, $icon-tile-darkgray, $icon-tile-gray, $icon-webm-gray, $icon-www, $soc-fb-round, $soc-fb-square, $soc-gplus-square, $soc-mailru-square, $soc-odn-round, $soc-odn-square, $soc-odn, $soc-tw-square, $soc-vk-round, $soc-vk-square, $soc-vk, );
$spritesheet: (278px, 270px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
