//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
// Roboto
$font:			'helveticaneuecyr'; 
$font_size:		14px;
$font_height:	1.2;
$main_color:	#647483; // body_color

$fixFont: Arial, Verdana, sans-serif;

$ruble: 'ruble';

// Variables => Colors
//----------------------------------------------------//

$blue_color: #3c5b97;
$blue2_color: #577fa5;
$blue3_color: #4469a1;
$blue4_color: #5d89cb;
$blue5_color: #EAF5FB;
$blue6_color: #87a1bc;
$blue7_color: #F2F8FA;
$blue8_color: #E8F2F8;
$blue9_color: #DBE6F4;
$blue10_color: #E6F5FB;
$blue11_color: #235B9A;
$blue12_color: #E3EEF4;
$blue13_color: #C6DCE8;
$blue14_color: #E5F2F8;
$blue15_color: #D9EFFA;
$blue16_color: #e5f5fd;
$blue17_color: #003E7A;
$blue18_color: #3C80A8;
$blue19_color: #215592;


$orange_color: #E6AE4C;
$orange2_color: #F8B042;
$orange3_color: #F7AF42;


$green_color: #92C37C;
$green2_color: #84D08E;


$red_color: #E13737;
$red2_color: #FF0000;
$red3_color: #fe6d02;


$gray_color: #ECEBEB;
$gray2_color: #CBDBE7;
$gray3_color: #F3F3F2;
$gray4_color: #F5F5F7;
$gray5_color: #ECECEB;
$gray6_color: #EDEDEC;
$gray7_color: #CEE2ED;
$gray8_color: #DBDBDB;
$gray9_color: #c9c9c9;
$gray10_color: #BBBBBB;
$gray11_color: #5C7585;
$gray12_color: #EDECEC;
$gray13_color: #D4D4D4;
$gray14_color: #7A8B98;
$gray15_color: #EFEFEF;
$gray16_color: #ECECEC;
$gray17_color: #C6DCE8;
$gray18_color: #E9E9E9;
$gray19_color: #5c646b;
$gray20_color: #607888;
$gray21_color: #58646C;
$gray22_color: #B3B3B3;

$white_color: #F8F8F8;
$white2_color: #FEFBF6;
$white3_color: #F9F9F9;



